{# src/RCloud/Bundle/UserBundle/Resources/views/Dashboard/show.html.twig #}

{% extends '::base.html.twig' %}

{% block body %}
    <div class="dashboard">
        <header class="dashboard-header">
            <img class="dashboard-logo" src="{{ asset('assets/img/logo.png') }}" alt="" title="" />
        </header>
        <div>
            <nav class="dashboard-menu">
                {% for item in dashboardItems %}
                    <a class="dashboard-menu-item" href="{{ item.href }}">
                        <i class="dashboard-menu-item-icon fa fa-{{ item.icon }}"></i>
                        <span class="dashboard-menu-item-name">{{ item.title }}</span>
                    </a>
                {% endfor %}
            </nav>
        </div>
    </div>
{% endblock %}