{# src/RCloud/Bundle/UserBundle/Resources/views/Dashboard/show.html.twig #}

{% extends '::base.html.twig' %}

{% block body %}
    <nav class="dashboard">
        {% for item in dashboardItems %}
            <a class="dashboard-item" href="{{ item.href }}">
                <i class="fa fa-{{ item.icon }}"></i>
                {{ item.title }}
            </a>
        {% endfor %}
    </nav>
{% endblock %}