.visually-hidden {
    position: absolute;
    clip: rect(1px 1px 1px 1px); /* for IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    margin: -1px;
    border: 0;
    padding: 0;
    width: 1px;
    height: 1px ;
    overflow: hidden;
}
