{# src/RCloud/Bundle/RBundle/Resources/views/Editor/showEditor.html.twig #}

{% extends '::base.html.twig' %}

{% block body %}
<div id="editor">
    <input id="editor-script" type="hidden" value="" />
    <div class="editor-menu">
        <div class="editor-menu-left">
            <button class="editor-menu-item" id="run-button" type="button">Run</button>
            <button class="editor-menu-item" id="save-button" type="button">Save</button>
            <a class="editor-menu-item" href="{{ path('show_editor') }}" target="_blank">New</a>
        </div>
        <div class="editor-menu-right">
            <a class="editor-menu-item" href="{{ path('show_dashboard') }}">Dashboard</a>
        </div>
    </div>
    <div class="editor-editor">
        <textarea id="editor-field">{% if script is not null %}{{ script.content }}{% endif %}</textarea>
    </div>
    <div class="editor-result">
        <div class="editor-result-result"></div>
        <div class="editor-result-graphs"></div>
    </div>
</div>
{% endblock %}