.button {
    padding: 1em;
    background-color: transparent;
    background-color: rgba(255, 255, 255, .2);
    border: 2px solid #2980b9;
    border-radius: 8px;
    color: #2980b9;
    font-weight: bold;
    text-decoration: none;
    text-align: center;

    &:hover,
    &:focus {
        background-color: #2980b9;
        color: white;
    }
}