.notification {
    position: fixed;
    bottom: 0;
    left: 1rem;
    max-width: 20rem;
    padding: 1.3rem;
    font-size: 0.9rem;
    z-index: 1000;
    pointer-events: none;
    transform-origin: 50% 100%;
    backface-visibility: hidden;
    box-shadow: 0 0 10px 0 rgba(#000, 0.1);
    color: rgba(#fff, 0.9);
}

.notification-show {
    pointer-events: auto;
    animation-name: animFlipFront;
    animation-duration: 0.3s;
}

.notification-hide {
    animation-name: animFlipBack;
    animation-duration: 0.3s;
    animation-direction: reverse;
}

.notification-close {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 4px;
    top: 4px;
    padding: 0;
    border-width: 0;
    background-color: transparent;
    overflow: hidden;
    text-indent: 100%;
    cursor: pointer;
    -webkit-backface-visibility: hidden;

    &::before,
    &::after {
        content: '';
        position: absolute;
        width: 3px;
        height: 60%;
        top: 50%;
        left: 50%;
        background-color: #dedede;
    }

    &::before {
        transform: translate(-50%,-50%) rotate(45deg);
    }

    &::after {
        transform: translate(-50%,-50%) rotate(-45deg);
    }

    &:hover::before,
    &:hover::after,
    &:focus::before,
    &:focus::after {
        background-color: #fff;
    }
}

.notification-info {
    background-color: $primary-color;
}

.notification-success {
    background-color: $success-color;
}

.notification-error {
    background-color: $error-color;
}

@keyframes animFlipFront {
    0% {
        transform: perspective(1000px) rotate3d(1, 0, 0, -90deg);
    }

    100% {
        transform: perspective(1000px);
    }
}

@keyframes animFlipBack {
    0% {
        transform: perspective(1000px) rotate3d(1, 0, 0, 90deg);
    }

    100% {
        transform: perspective(1000px);
    }
}