.navigation {
    display: flex;
}

.navigation-item {
    padding-left: 1rem;
    padding-right: 1rem;
    line-height: 3rem;
    text-decoration: none;
    color: white;

    &:hover {
        background-color: rgba(white, 0.2);
    }
}