.dashboard-header {
    width: 100%;
    text-align: center;
}

.dashboard-menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow-x: hidden;
    overflow-y: visible;
}

.dashboard-menu-item {
    padding: 1rem;
    color: inherit;
    text-decoration: none;
    text-align: center;
    flex: 1;

    &:hover,
    &:focus {
        color: #2980b9;
    }
}

.dashboard-menu-item-icon {
    font-size: 3rem;
    margin-bottom: 0.5rem;
}

.dashboard-menu-item-name {
    display: block;
    font-size: 1.5rem;
}