{% extends 'RCloudRBundle::layout.html.twig' %}

{% block content %}
<ul class="folders">
	{% for folder in folders %}
		<li class="folder"><a href="{{path("folders_list",{"id" : folder.id})}}">{{folder.name}}</a></li>
	{% endfor %}
</ul>
{% endblock %}
