{% for result in results %}
	{% if loop.index > 2 %}
	{% for ligne in result if ligne is not empty %}
		<div>
            <pre>
                {{ ligne }}
            </pre>
        </div>
	{% endfor %}
{% endif %}
{% endfor %}

{% if graphes is defined %}
<div id="graphes">
{% for graph in graphes %}
    <img src="{{ asset(graph) }}" alt="Graph {{ loop.index }}" title="Graph {{ loop.index }}">
{% endfor %}
</div>
{% endif %}
